
.text-waring {
    font-size: 17px;
    text-align: center;
}

.logo-style {
    width: 50%;
}

.logo-style-padding-top {
    padding-top: 0;
}

.nav-link {
    font-size: 16px;
}

.header-color {
    background-color: #028cee;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

    .navbar-default .navbar-nav > li > a > a {
        color: white;
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #028cee;
        background-color: white;
    }

    .navbar-default .navbar-nav > li > a > a:hover {
        color: #028cee;
        background-color: white;
        text-decoration: none;
    }

.success-image {
    height: 120px;
    margin-top: 10%;
}

.footer-style {
    background-color: #222222;
}

.loader {
    position: absolute;
    top: 200px;
    left: 50%;
    z-index: 100;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.contact-info {
    padding-left: 20px;
}

.select-program {
    padding: 20px 0 25px 0;
}

.login-backgound {
    background-color: #928f8f;
    height: 900px;
}

.logo-login {
    /* padding-left: 125px; */
    padding-bottom: 39px;
}

.login-box {
    margin-top: 11%;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.checkIDBox {
    padding-top: 180px;
}

.exportBillBox {
    margin-top: 70px;
}

.hidden {
    display: none;
}

@media (max-width: 500px) {
    .checkIDBox {
        padding-top: 50px;
    }

    .login-backgound {
        background-color: #928f8f;
        height: 550px;
    }

    .login-box {
        margin-top: 0;
    }
}

.bill {
    padding-top: 35px;
}

.bill-print {
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.warning-box {
    padding-top: 70px;
}

.header-a4 {
    padding-bottom: 25px;
}

.a4-style {
    font-size: 15px;
}

.signature {
    padding-bottom: 50px;
}

.document-print {
    padding: 0px, 0px, 35px, 35px ;
    font-family: 'Times New Roman';
    line-height: 20px;
}
/* .a4-style > p {
  
}
.a4-style > .row > .col-xs-6 > p {
  font-size: 20px;
}
.a4-style > .row > .col-xs-4 > p {
  font-size: 20px;
} */

.status-icon {
    font-size: 75px;
}